.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

/* Stile für Tablet-Ansicht */
@media (min-width: 768px) and (max-width: 1024px) {
    .card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .card {
        flex-basis: calc(33.33% - 20px);
    }
}

@media (min-width: 1025px) {
    .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        flex-basis: auto; /* Zurücksetzen auf automatische Breite */
        margin-bottom: 20px;
    }
}

.card.selected {
    border-color: blue;
    /* Weitere Stile für eine ausgewählte Card */
}
